<!-- Content 1 -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mt-3">What We Do</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action »</a>
      </p>
    </div>
    <div class="com-md-4">
      <h2 class="mt-3">Contact Us</h2>
      <p>
        <b>Start Bootstrap</b><br>
        3481 Melrose Place<br>
        Beverly Hills, CA 90210
      </p>
      <p>
        <abbr title="Phone">P:</abbr> (123) 456-7890<br>
        <abbr title="Email">E:</abbr> <a href="mailto:#">Name@example.com</a>
      </p>
    </div>
  </div>
</div>