<div class="container">
  <div class="form-inline">
    <label for="number">Nhập vào một số:</label>
    <input class="form-control mx-3" type="text" id="number" #num>
    <button type="button" class="btn btn-outline-warning mr-3" (click)="Check(num)">Kiểm tra</button>
    <div *ngIf="state">
      <div [ngSwitch]="value">
        <div *ngSwitchCase="1" style="color:red">1 là màu Đỏ</div>
        <div *ngSwitchCase="2" style="color:yellow">2 là màu Vàng</div>
        <div *ngSwitchCase="3" style="color:green">3 là màu Xanh Lá</div>
        <div *ngSwitchCase="4" style="color:blue">4 là màu Xanh Dương</div>
        <div *ngSwitchDefault style="color:pink">Số khác 1-4 là màu hồng</div>
      </div>
    </div>
  </div>
</div>