<h1 class="text-center">
  {{title}}
</h1>
<!-- Structural Directive -->
<h2 class="text-center my-3">Structural Directive</h2>
<div class="container">
  <h3>1. ngIf</h3>
  <app-ngif></app-ngif>
  <h3 class="mt-3">2. ngSwitch</h3>
  <app-ngswitch></app-ngswitch>
  <h3 class="mt-3">3. ngFor</h3>
  <app-ngfor></app-ngfor>
  <!-- Attribute Directive -->
  <h2 class="text-center my-3">Attribute Directive</h2>
  <h3 class="mt-3">1. ngClass</h3>
  <app-nglass></app-nglass>
  <h3 class="mt-3">2. ngStyle</h3>
  <app-ngstyle></app-ngstyle>
  <h3 class="mt-3">3. Directive</h3>
  <div appHighlight>Test Directive made by myself</div>
</div>
