<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-firstcomponent></app-firstcomponent>
<app-example></app-example>
<hr>
<!-- Exercise One -->
<app-header></app-header>
<app-content></app-content>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
<hr class="mt-5">
<!-- Exercise One -->
<!-- Navigation -->
<app-navbartwo></app-navbartwo>
<!-- Header & Background -->
<app-headertwo></app-headertwo>
<!-- Contents -->
<app-contenttwo-1></app-contenttwo-1>
<app-contenttwo-2></app-contenttwo-2>
<app-footertwo></app-footertwo>